ENV=development
LOG_LEVEL=DEBUG

REDIS_URL=redis://redis:6379/0

#database_settings
DATABASE__DB_URL=postgresql+asyncpg://postgres_user:postgres_password@db:5432/example_db
DATABASE__DB_HOST=db
DATABASE__DB_PORT=5432
DATABASE__DB_USER=postgres_user
DATABASE__DB_PASSWORD=postgres_password
DATABASE__DB_NAME=example_db

# auth settings
AUTH__JWT_SECRET=change_me
AUTH__JWT_ALGORITHM=HS256
