pydantic == 2.12.5
pydantic_settings == 2.12.0
fastapi == 0.124.0
redis == 7.1.0
sqlalchemy == 2.0.44
pydantic[email] == 2.12.5
httpx == 0.28.1
itsdangerous == 2.2.0
authlib == 1.6.5
asyncpg == 0.31.0
python-jose[cryptography] == 3.5.0
python-dotenv == 1.2.1
alembic == 1.17.2
psycopg2-binary == 2.9.11
PyJWT == 2.10.1
pytest == 9.0.2
pytest-cov 
pytest-asyncio == 1.3.0
testcontainers == 4.13.3
fakeredis == 2.31.1
aiosqlite == 0.21.0
uvicorn[standard] == 0.38.0

