pydantic
pydantic_settings
fastapi
redis
sqlalchemy
pydantic[email]
httpx
itsdangerous
authlib
asyncpg
python-jose[cryptography]
python-dotenv
alembic
psycopg2-binary
PyJWT
pytest
pytest-asyncio
testcontainers
fakeredis
aiosqlite
uvicorn[standard]

